#base{
  direction: rtl;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

#gridColumn {
  width: 10px;
  display: grid;
  grid-template-columns: 10px fit-content(20%);
}
